.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions li {
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  width: 30%;
}

.suggestions li:hover {
  background-color: lightgray;
}

.partenaire{
  border: 1px solid black;
}

form{
  padding-left: 5%;
  width: 80%;
}

fieldset{
  width: 60%;
}

input{
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid black;
  outline: none !important;
}

/* regex js css */

input.valid{
  border : 3px solid #36cc36;
}
input.invalid{
  border : 3px solid red;
}
input + p{
  font-family: arial;
  font-size: 0.9em;
  font-weight: bold;
  color: red;
  opacity: 0;
  height: 0;
}
input.invalid + p{
  opacity: 1;
  height: auto;
  margin-bottom: 20px;
}
.resultContainer li{
    text-decoration:none;color:black;display:block;
    border-right: solid black 1px;
    width: 30%;
    font-size: 85%;
}
.resultContainer li:hover{
    cursor: pointer;
    transition: 0.5s;
    background-color: whitesmoke;
}
.resultContainer{max-height: 200px;overflow: auto;}
.boss{
    margin-left: 2vw;
}
